@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@keyframes bounce-slow {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-7px);
  }
}

@keyframes animate-bounce-slow {
  0%, 100% {
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.animate-bounce-slow {
  animation-name: bounce-slow;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

